# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

media/**/



# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Django stuff:
*.log

celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
env/
.env

files

affiliates